<!DOCTYPE html>
<html>
<head>
  <title>NotamExercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <nav>
  <ul>
    <li><%= link_to "Input", root_path  %></li>
    <li><%= link_to "Results", results_path  %></li>
  </ul>
  </nav>
<%= yield %>
</div>

</body>
</html>
